
#form{
    text-align: center;
    background-color: rgba(82, 30, 30, 0.479);
    padding: 50px 0px;
    margin: 5% 10% ;
    border: 1px solid paleturquoise;
    border-radius: 5px;
    box-shadow: 10px;
}

@media screen and (min-width:555px){
    #form{
    margin: 5% 30% ;
    }
}

.pad{
    background-color: rgba(41, 17, 17, 0.226);
    color: aliceblue;
    border: 1px solid rgba(41, 17, 17, 0.226);
}
.pad1{
    border: 1px solid rgba(41, 17, 17, 0.226);
}

input{
    padding: 10px 20px;
    border-radius: 5px;
}
#equal{
    background-color: blueviolet;
}
.mySize{
    border-radius: 10px;
}
